/* --------------------
    Alerts
-------------------- */
#wrapper .cart-empty.woocommerce-info,
.wpcf7-response-output.wpcf7-validation-errors,
.woocommerce-error,
.woocommerce-mini-cart__empty-message,
.comment-awaiting-moderation.waiting_pm,
.stock.out-of-stock{
    background: var(--bg_danger);
    color: var(--danger);
    border: 1px solid var(--danger);
    padding: 5px 15px;
    text-align: center;
    font-size: 13px;
    display: block;
    border-radius: 3px;
}

.woocommerce-error li a {
    color: var(--color1);
}

.woocommerce-message,
.woocommerce-success,
.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    color: var(--success);
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    background: var(--bg_success);
    border: 1px solid var(--success);
    border-radius: 3px;
}

.woocommerce-info:not(.woocommerce-message) a:hover {
    color: var(--color2);
}
.woocommerce-info:not(.woocommerce-message) {
    margin-bottom: 10px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 3px 8px #0000001c;
    color: var(--color1);
}



/* --------------------
    Mini card
-------------------- */

.product-quantity .quantity input{
    background: none;
}
.parent_item_cart .sub_part {
    position: absolute;
    top: 100%;
    z-index: 99;
    background: #141414;
    border-radius: 4px;
    padding: 20px;
    transition: 0.4s;
}
.woocommerce-mini-cart-item.mini_cart_item {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 15px;
    font-size: 13px;
    color: var(--color2);
    flex-wrap: wrap;
}
.woocommerce-mini-cart .mini_cart_item a.remove:hover{
    color: rgb(146, 23, 23);
}
.woocommerce-mini-cart .mini_cart_item a.remove {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 18px;
    line-height: 1;
    font-size: 20px;
    color: rgba(146, 23, 23, 0.68);
}
.woocommerce-mini-cart .mini_cart_item a {
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.4s ease;
}
.woocommerce-mini-cart .mini_cart_item a:hover {
    color: var(--color2);
}
.woocommerce-mini-cart-item.mini_cart_item img {
    height: auto;
    flex: 0 0 50px;
    max-width: 70px;
    margin: 0 10px 0 20px;
}
.woocommerce-mini-cart dl.variation {
    display: none;
}
.woocommerce-mini-cart span.detail-mini {
    display: flex;
    flex-wrap: wrap;
}
.woocommerce-mini-cart__total.total strong {
    color: #aaa;
}
.woocommerce-mini-cart__total.total span {
    font-size: 20px;
    color: var(--color2);
}
.woocommerce-mini-cart__buttons.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.woocommerce-mini-cart__total.total {
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}







/* --------------------
    Product
-------------------- */
.product-item {
    border: 6px solid #fff;
    border-radius: 3px;
    background: #fff;
    transition: 0.3s;
    overflow: hidden;
    box-shadow: 0 6px 14px rgba(73, 73, 73, 0.12);
    position: relative;
    margin-bottom: 15px;
}
.dark .product-item {
    background: #2C2C2C;
    border: 6px solid #2C2C2C;
}
.product-image {
    display: block;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.product-item h2 a {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
	line-height:1.5;
    color: #6E6E6E;
    font-size: 14px;
}
.product-item:hover h2 a {
    color: #151515;
}
.dark .product-item h2 a {
    color: #D2D2D2;
}
.product-item h2 {
    margin-top: 12px;
    min-height: 45px;
    font-family: var(--main_font);
    margin-bottom: 5px;
}
.product-item .price del,
.product-item .price ins{
    display: block;
    text-align: center;
}


.product-item .price {
    display: block;
    padding: 0;
    padding-top: 15px;
    position: relative;
    overflow: hidden;
    z-index: 3;
    transition: 0.3s;
}
.product-item .price:before {
    content: '';
    background: var(--color2);
    z-index: -1;
    width: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 34px;
    border-radius: 3px;
    transition: 0.3s;
}

.product-item:hover .price:before {
    width: 100%;
}
.product-item:hover .price{
    background: transparent;
}
.product-item .price del{
    color: #ADADAD;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 12px;
    line-height: 1;
}
.product-item:not(.purchasable) .price {
    background: #f9f9f9;
    color: var(--color1);
    border: 1px solid var(--color1);
    text-align: center;
    font-size: 13px;
    display: block;
    border-radius: 3px;
    min-width: 181px;
    margin-top: 15px;
    padding: 7px 15px 6px;
}
.product-item:not(.purchasable) .price:before {
    content: none;
}
.dark .product-item:not(.purchasable) .price {
    background: var(--color2);
    color: #000;
    border: 1px solid var(--color2);
}
.summary.entry-summary .price strong {
    background: #f9f9f9;
    color: var(--color1);
    border: 1px solid var(--color1);
    text-align: center;
    font-size: 15px;
    display: block;
    border-radius: 3px;
    margin-top: 25px;
    padding: 7px 15px 6px;
}
.woocommerce-Price-currencySymbol{
    font-size: 14px;
    margin-right: 5px;
    vertical-align: 2px;
}
del .woocommerce-Price-currencySymbol {
    font-size: 11px;
}
.product-item .price>.woocommerce-Price-amount> bdi,
.product-item .price ins {
    padding: 9px 26px 8px 35px;
    border-radius: 3px;
    color: var(--color2);
    text-decoration: none;
    transition: 0.3s;
    display: block;
    text-align: center;
    border: 1px solid var(--color2);
    min-width: 164px;
    font-size: 16px;
    position: relative;
    line-height: 1;
}




.product-item:hover .price ins, .product-item:hover .price>.woocommerce-Price-amount> bdi {
    color: #fff;
    border-color: var(--color2);
}
.dark .product-item:hover .price ins,.dark .product-item:hover .price>.woocommerce-Price-amount> bdi {
    color: #000000;
}



.btn-sale{
    text-align: center;
    margin-top: 30px;
}

.on-sale {
    color: var(--color2);
    background: transparent;
    border-radius: 0 3px 0 3px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 16px;
    font-size: 14px;
    z-index: 3;
    transition: 0.4s ease;
    padding: 5px;
}
.product-item:hover .on-sale {
    background: var(--color2);
    color: #fff;
}
.dark .product-item:hover .on-sale {
    color: #000000;
}
.product-item:hover .compare-btn {
    background: var(--color2);

}
.product-item:hover .compare-btn i {
    color: #fff;
}
.dark .product-item:hover .compare-btn i {
    color: #000000;
}
 .product-item .product-item-end{
    transition: 0.3s linear;
}
 .product-item:hover .product-item-end{
    opacity: 0;
    visibility: hidden;
}
.product-head {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 12;
}
.product-item-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.product-item-end {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    z-index: 1;
    flex-direction: row-reverse;
}
.on-new {
    color: var(--color2);
    font-size: 10px;
    padding: 7px 5px 4px;
    line-height: 1;
    border-radius: 3px;
}
.on-Festival {
    color: var(--color2);
    font-size: 10px;
    padding: 1px 5px 0;
    border-radius: 3px;
}

.product-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 15px 0 10px;
    margin: 0 10px;
}

.product-body .sku_wrapper .sku {
    font-size: 12px;
    transition: 0.3s ease;
}
.product-item:hover .sku_wrapper .sku {
    color: var(--color2);
}
@media screen and (min-width: 567px) {
    .product-body .sku_wrapper .sku {
        font-size: 14px;
    }
    .product-item h2 a{
        font-size: 16px;
    }

}
@media screen and (min-width: 786px) {
    .product-body {
        padding: 18px 0 20px;
        margin: 0 16px;
    }
    .product-item-parent .product-body {
    margin: 0;
}
    .product-item h2 {
        min-height: 55px;
    }
    .product-item h2 a{
        font-size: 17px;
    }
    .product-item .price>.woocommerce-Price-amount> bdi, .product-item .price ins {
        padding: 12px 26px 10px 35px;
    }
    .product-item .price:before {
        height: 41px;
    }
    .on-new {
        font-size: 15px;

    }
    .on-Festival {
        font-size: 15px;
    }
    .on-sale {
        font-size: 14px;
        padding: 8px 3px 3px;
        line-height: 21px;
    }

}
    /* --------------------
        Cart & Checkout
    -------------------- */
#shipping_country_field {
    display: none;
}

.cart-empty.woocommerce-info {
    margin-bottom: 20px;
}

.return-to-shop {
    text-align: center !important;
}

table.shop_table {
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #223657;
    width: 100%;
    background: #fff;
}
.woocommerce-shipping-destination {
    text-align: center!important;
}
table.shop_table th,
table.shop_table td {
    color: #222;
    border: 1px solid #eee;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
}

table.shop_table td{
    padding: 5px 10px;
}

table.shop_table th {
    background: #f9f9f9;
    color: var(--color1) !important;
    text-transform: uppercase;
    font-weight: bold;
    border: none !important;
    padding: 15px;
    font-size: 16px;

}

table.shop_table .actions {
    display: none !important;
}

.product-remove a {
    background: transparent;
    border: none !important;
    position: relative;
    top: 2px;
    color: var(--danger) !important;
    background: transparent !important;
    font-size: 25px;
    opacity: 0.5;
    transition: 0.3s;
}
.product-remove a:hover {
    opacity: 1;
}
.product-thumbnail img {
    max-width: 70px;
    border: 1px solid #eee;
}

.wc-proceed-to-checkout {
    margin-top: 20px;
    text-align: center;
}

.wc-proceed-to-checkout .button {
    height: 45px;
}

.cart-collaterals {
    margin-top: 20px;
}

.cart-collaterals h2{
    display: none;
}
.wc-item-meta li strong {
    margin-left: 5px;
}
.wc-item-meta li{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0 5px;
}

.wc-item-meta {
    display: flex;
    flex-wrap: wrap;
}
/*
Checkout
 */

.shop_table .product-name .variation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
}
.shop_table .product-name .variation p {
    font-size: 13px;
}
.shop_table .product-name .variation dt {
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
    line-height: 2;
}
.shop_table .product-name .variation dd {
    line-height: 2;
}
.form-row.form-row-first {
    float: right;
    display: block;
    width: 48%;
}
.form-row.form-row-last {
    float: left;
    display: block;
    width: 48%;
}

#payment{
    margin-top: 15px;
}

#payment ul li{
    margin-bottom: 20px;
    user-select: none;
    background: #fff;
}

#payment label:not(.woocommerce-form__label-for-checkbox){
    cursor: pointer;
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
    padding-right: 25px;
}

#payment label img{
    margin: 0;
    margin-right: 5px;
    vertical-align: middle;
}

.wc_payment_method input {
    float: none !important;
    clear: both !important;
    position: relative;
    top: 1px;
    margin-left: 10px;
}

.wc_payment_methods.payment_methods.methods li {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
}

.payment_box {
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 13px;
    color: #777;
}

#payment li:before{
    display: none;
}

#place_order {
    width: 100%;
    justify-content: center;
    display: flex;
    height: 45px;
    margin: 15px auto;
}

.checkout_coupon.woocommerce-form-coupon {
    background: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    margin: 20px 0;

}
.checkout_coupon.woocommerce-form-coupon .button {
    height: 44px;
}
.checkout_coupon.woocommerce-form-coupon input {
    margin-bottom: 5px;
}
.checkout.woocommerce-checkout {
    margin-top: 20px;
}

.clear {
    clear: both;
}

.checkout_coupon.woocommerce-form-coupon p:not(.form-row) {
    margin-bottom: 10px;
}

#order_review_heading {
    display: none;
}

#order_review {
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
}


.woocommerce-checkout .woocommerce-error {
    margin: 20px 0;
}

@media screen and (min-width: 768px){
    table.shop_table td.product-quantity .quantity{
        max-width: 150px;
        margin: 0 auto;
    }
}
table.shop_table td{
    padding: 10px;
}

ul.order_details {
    background: #f9f9f9;
    padding: 10px 15px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    box-shadow: 1px 3px 8px #0000001c;
}
.order_details li strong {
    color: var(--color1);
    font-size: 14px;
}
@media screen and (max-width: 576px) {

    ul.order_details{
        display: block;
    }

}


/* --------------------
My account
-------------------- */
#account_register_form .form-text {
    font-size: 13px;
}
.not-login{
    text-align:center;
}

.not-login a {
    color: #fff;
    font-family: var(--bold_font);
    background: var(--color1);
    padding: 0px 15px;
    border-radius: 3px;
    padding: 2px 15px;
}

.not-login a:hover{
    background: var(--color2);
}

.woocommerce-LostPassword.lost_password a {
    display: block;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    background: #f9f9f9;
    color: var(--color2);
}

.sendsms {
    margin-bottom: 10px;
}

.woocommerce-MyAccount-navigation {
    background: #fff;
    box-shadow: 1px 3px 8px #0000001c;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.woocommerce-MyAccount-navigation a {
    display: block;
    color: var(--bg-footer);
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 2px 4px 10px #0000001c;
    text-align: center;
}

.woocommerce-MyAccount-navigation li:last-child a{
    margin-bottom: 0;
}

.woocommerce-MyAccount-navigation a:hover{
    color: var(--color1);
}

.woocommerce-MyAccount-navigation .is-active a{
    background: var(--color1);
    color: #fff;
}

.woocommerce-MyAccount-navigation ul{
    position: sticky;
    position: -webkit-sticky;
    top: 20px;
}

.woocommerce-MyAccount-content mark {
    background: var(--color1);
    color: #fff;
}


.woocommerce-Address-title.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.woocommerce-pagination.woocommerce-pagination--without-numbers.woocommerce-Pagination {
    margin: 20px auto;
}

.woocommerce-Address-title.title .edit{
    padding: 2px 10px;
    border-radius: 5px;
    background: var(--color2);
    color: #fff;
    border-color: var(--color2);
}

.woocommerce-Address-title.title .edit:hover {
    background: var(--color1);
    border-color: var(--color1);
}


.woocommerce-Addresses .woocommerce-Address{
    padding: 0 !important;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 0 0 100%;
    max-width: 100%;
}

.woocommerce-ResetPassword,
#customer_login .woocommerce-form{
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px #22222217;
}

.woocommerce-ResetPassword p {
    float: none;
    width: 100% !important;
}

#customer_login .login_submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#customer_login .login_submit label:before{
    display: none;
}

#customer_login #rememberme {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: 2px;
}

#customer_login h2 {
    font-size: 16px;
    background: #f9f9f9;
    display: inline-block;
    color: #222;
    margin-bottom: 0;
    padding: 5px 15px;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 1;
    right: 15px;
}

#customer_login .u-column,
#customer_login .u-column1,
#customer_login .u-column2{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;

}
.woocommerce-EditAccountForm fieldset p{
    width: 100%;
}

.woocommerce-EditAccountForm fieldset {
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 30px;
    border: 1px solid var(--color1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.woocommerce-Address-title > a, .woocommerce-EditAccountForm fieldset legend {
    user-select: none;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: transparent;
    color: var(--color1);
    font-family: inherit;
    border-radius: 4px;
    z-index: 1;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    border: 1px solid var(--color1);
    min-width: 124px;
}
.woocommerce-Address-title.title h3{
    margin-bottom: 0;
    font-size: 15px;
}
@media screen and (min-width: 992px) {
    .woocommerce-EditAccountForm fieldset p:nth-of-type(1),
    .woocommerce-EditAccountForm fieldset p:nth-of-type(2){
        width: 48%;
    }
}
@media screen and (min-width: 768px) {


    .woocommerce-Address-title.title h3{
        margin-bottom: 0 !important;
    }

    .woocommerce-Addresses .woocommerce-Address {
        flex: 0 0 48%;
        max-width: 48%;
        margin-bottom: 20px;
    }

    #customer_login,
    .woocommerce-Addresses,
    .woocommerce-account.logged-in .woocommerce {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #customer_login .u-column,
    #customer_login .u-column1,
    #customer_login .u-column2{
        flex: 0 0 48%;
        max-width: 48%;
    }

    .woocommerce-MyAccount-navigation {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .woocommerce-MyAccount-content {
        flex: 0 0 73%;
        max-width: 73%;
    }
}

@media screen and (max-width: 992px) {
    .woocommerce-MyAccount-navigation {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .woocommerce-MyAccount-content {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    section.woocommerce-order-details {
        margin: 10px 0;
    }
    .shop_table_responsive.shop_table{
        overflow: hidden;
    }
    #delivery_time_field,#delivery_day_field{
        float:unset;
        width:100%
    }
    .shop_table_responsive.shop_table tr,
    .shop_table_responsive.shop_table td,
    .shop_table_responsive.shop_table th,
    .shop_table_responsive.shop_table tbody,
    .shop_table_responsive.shop_table thead,
    .shop_table_responsive.shop_table{
        display: block;
        width: 100%;
    }

    .shop_table_responsive.shop_table tbody tr:nth-child(2n) {
        background: #f9f9f9;
    }

    .shop_table_responsive.shop_table thead{
        display: none;
    }

    .shop_table_responsive.shop_table td{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    }

    .shop_table_responsive .quantity{
        margin: 0;
    }

    .shop_table_responsive.shop_table td:before{
        content: attr(data-title);
        display: inline-block;
        background: #f7f7f7;
        padding: 2px 10px;
        border-radius: 5px;
        min-width: 80px;
        text-align: center;
        font-size: 12px;
        color: var(--color1);
    }

    .product-name{
        justify-content: center !important;
    }

    .product-name a{
        display: block;
        text-align: center;
        font-size: 14px;
    }

    .product-name:before,
    .product-thumbnail:before,
    .product-remove:before{
        display: none !important;
    }


    .product-thumbnail a {
        display: block;
        text-align: center;
        width: 100%;
        max-width: 130px;
        margin: 0 auto;
    }
    .shop_table_responsive.shop_table tr {
        position: relative;
    }
    .shop_table_responsive.shop_table td.product-remove {
        position: absolute;
        top: 30px;
        right: 20px;
        margin: 0;
        padding: 0;
        border: none!important;
    }

    #wrapper .cart-collaterals table td:before{
        display: none;
    }

    #wrapper .cart-collaterals table td{
        justify-content: center;
        background: #fff;
    }

    .woocommerce-MyAccount-navigation-link {
        margin: 0 2px 8px!important;
        min-width: 47%;
        flex: 1 0 47%;
    }

    .woocommerce-MyAccount-navigation ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .woocommerce-MyAccount-navigation-link a {
        padding: 5px;
        font-size: 13px;
    }

    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
        padding: 0;
        margin-top: 20px;
    }
    .checkout_coupon.woocommerce-form-coupon .form-row.form-row-first {
        margin-left: 0;
        margin-bottom: 10px;
        float: none;
    }
    .checkout_coupon.woocommerce-form-coupon{
        justify-content:center;
    }
    .checkout_coupon.woocommerce-form-coupon p{
        flex:0 0 100%;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .woocommerce-Address-title.title .edit{
        min-width: 85px;
    }
}
#shipping_method li {
    text-align: right;
    padding-right: 0;
    display: flex;
    align-items: center;
}
#shipping_method li label{
    display: inline-flex;
    align-items: baseline;
    font-size: 11px;
    line-height:1.5;
}
#shipping_method li label:before{
    position:relative;
    top:2px;
}
#shipping_method li label span{
    font-size:12px;
}
.woocommerce-shipping-methods input[type="radio"],#payment input[type="radio"],
#customer-type_field input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 20px;
}
#payment input[type="radio"]{position:relative;display:inline-block!important}

.editor-content .woocommerce-shipping-methods label:before,
#payment label:not(.woocommerce-form__label-for-checkbox):before,
#customer-type_field span label:before,
#shipping_field span label:before{
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    min-width: 12px;
    max-width: 12px;
    right: -5px;
    padding-right: 0;
    top: 0;
    bottom: 0;
    margin: auto 5px;
    border: 1px solid var(--color2);
    background: radial-gradient(var(--color2) 50%,#fff 50%);
    background-position: 9px 0;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
#payment label:before {
    right: -18px;
}
.woocommerce-shipping-methods input[type="radio"]:checked ~ label:before,
#payment input[type="radio"]:checked ~ label:before,
#customer-type_haghighi:checked ~ label[for=customer-type_haghighi].radio:before,
#customer-type_hoghooghi:checked ~ label[for=customer-type_hoghooghi].radio:before,
#shipping_company_shipping:checked ~  label[for=shipping_company_shipping].radio:before,
#shipping_delivery_shipping:checked ~  label[for=shipping_delivery_shipping].radio:before,
#customer-type_haghighi:checked ~  label[for=customer-type_haghighi]:before,
#customer-type_hoghooghi:checked ~  label[for=customer-type_hoghooghi]:before{
    background: radial-gradient(var(--color2) 0%, var(--color2) 40%, transparent 50%, transparent);
    border-color: var(--color2);
}
.shipping_select,
#checkout_checkbox_field{
    margin:15px 0;
}
#shipping_field>label, #checkout_checkbox_field label span{
    font-size: 20px;
    display:block;
}
#shipping_field label{
    margin-left:10px;
    cursor: pointer;
}
.woocommerce-form__label-for-checkbox input[type="checkbox"]{
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    top: 9px;
}
#customer-type_field {
    display: flex;
    clear: both;
}
#billing_country_field {
    display: none;
}
#customer-type_field label{
    margin-left:10px;

}
#customer-type_field .woocommerce-input-wrapper label{

    padding-right: 15px;
}
#billing_postcode_field,#billing_state_field , #shipping_state_field {
    width: 48%;
    float: right;
}
#billing_phone_field,#billing_city_field, #shipping_city_field {
    width: 48%;
    float: left;
}
.woocommerce-form__label-for-checkbox span:not(.required){
    position:relative;
    display:inline-block;
    padding-right:20px;
    font-size: 14px;
}
.woocommerce-form__label-for-checkbox span:not(.required):before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border: 1px solid var(--color2);
    border-radius: 5px;
    transition: 0.3s ease;
}
#delivery_day, #delivery_time {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.woocommerce-form__label-for-checkbox input[type="checkbox"]:checked+span:after {
    opacity: 1;
    visibility: visible;
}
.woocommerce-form__label-for-checkbox input[type="checkbox"]:checked+span:before {
    background: var(--color2);
}
.woocommerce-form__label-for-checkbox span:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(
            45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(
            45deg);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}
#delivery_day_field >span, #delivery_time_field>span {
    position: relative;
    display: block;
}
#delivery_day_field >span:before, #delivery_time_field>span:before {
    content: '';
    position: absolute;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 20px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    bottom: 41%;
    width: 0;
}

.wc-backward.min-but {
    margin: 0 10px;
}
ul.woocommerce-error .button.wc-backward {
    margin:0;
    margin-right: 20px;
}
.mycheckbox .optional:before {
    display: none;
}


/*multi step cart*/
.route-bar{
    position: relative;
    margin: 0 0 30px 0;
    user-select: none;
}
.route-bar:before{
    content: "";
    position: absolute;
    top: 30px;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--color1);
}
.route-bar .step-box .wrapper{
    text-align: center;
}
.route-bar .step-box .title{
    margin: 0;
    color: var(--color1);

}
.route-bar .step-box .title a  {
    color: var(--color1);
}
.route-bar .step-box .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 5px auto;
    background:  var(--color2);
}
.route-bar .step-box .icon-svg{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0;
}
.woocommerce-cart .route-bar .first-step .icon,
.woocommerce-checkout .route-bar .first-step .icon,
.woocommerce-checkout .route-bar .second-step .icon,
.woocommerce-order-pay .route-bar .first-step .icon,
.woocommerce-order-pay .route-bar .second-step .icon,
.woocommerce-order-pay .route-bar .third-step .icon,
.woocommerce-order-received .route-bar .first-step .icon,
.woocommerce-order-received .route-bar .second-step .icon,
.woocommerce-order-received .route-bar .third-step .icon,
.woocommerce-order-received .route-bar .fourth-step .icon{
    background-color: var(--color1);
}
.woocommerce-cart .route-bar .first-step .icon-svg,
.woocommerce-checkout .route-bar .first-step .icon-svg,
.woocommerce-checkout .route-bar .second-step .icon-svg,
.woocommerce-order-pay .route-bar .first-step .icon-svg,
.woocommerce-order-pay .route-bar .second-step .icon-svg,
.woocommerce-order-pay .route-bar .third-step .icon-svg,
.woocommerce-order-received .route-bar .first-step .icon-svg,
.woocommerce-order-received .route-bar .second-step .icon-svg,
.woocommerce-order-received .route-bar .third-step .icon-svg,
.woocommerce-order-received .route-bar .fourth-step .icon-svg{
    filter: brightness(0) invert(1);
}


/*form*/
.af-form label {
    display: flex;
}

.container input[type=checkbox] ,
.container input[type=radio]{

    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

ul.acf-radio-list li, ul.acf-checkbox-list li{
    margin-bottom: 10px!important;
    margin-left: 8px!important;
    display: block;
}
ul.acf-radio-list li:before, ul.acf-checkbox-list li:before{
    display: none!important;
}
ul.acf-radio-list label, ul.acf-checkbox-list label{
    font-family:var(--main_font)!important;
    position:relative;
    padding-right: 25px!important;
    cursor:pointer;
}
ul.acf-radio-list label:before, ul.acf-checkbox-list label:before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border: 1px solid var(--color1);
    border-radius:5px;
    transition:0.3s ease;
}

ul.acf-checkbox-list label:after{
    content:'';
    display: inline-block;
    position: absolute;
    right: 6px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    visibility:hidden;
    opacity:0;
    transition:0.3s ease;
}
ul.acf-checkbox-list label.selected:before {
    background: var(--color1);
}
ul.acf-radio-list label:before{
    border-radius: 50%;
}
ul.acf-radio-list label:after{
    content:'';
    display: inline-block;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: var(--color1);
    visibility:hidden;
    opacity:0;
    transition:0.3s ease;
}

ul.acf-radio-list label.selected:after, ul.acf-checkbox-list label.selected:after{
    opacity:1;
    visibility:visible;
}
.acf-hl:before, .acf-hl:after, .acf-bl:before, .acf-bl:after, .acf-cf:before, .acf-cf:after{
    display:none!important;
}
form .half{
    width: 50%;
    clear: none!important
}
form .half:nth-child(2n){
    float:left;
}
form .half:nth-child(2n+1){
    float:right;
}
form .acf-file-uploader p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    font-family: var(--main_font);
    font-size: 13px;
}
.acf-loading, .acf-spinner {
    position: absolute;
    left: 46%;
    top: 22px;
}
.acf-basic-uploader p{
    z-index: -1;
}
.editor-content.main-content  form .button:hover{
    color:#fff;
}
.af-submit.acf-form-submit {
    position: relative;
}
.af-field-type-select .af-input {
    position: relative;
}
.af-field-type-select .af-input:before{
    content:'';
    position:absolute;
    border: solid #c2c2c2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    left: 20px;
    top: 18px;
}
.af-field-type-select select{
    -webkit-appearance: none;
}
.af-form .acf-field .acf-notice.-error {
    background: unset!important;
    border: none;
    padding: 0;
    margin: 0;
    position: unset;
    bottom: -29px;
}
.af-form .acf-notice.-dismiss p{
    text-align: center;
}
.af-form .acf-notice.-error {
    border: 1px solid #d94f4f;
    background: unset!important;
    color: #d94f4f;
    text-align: center;
    border-radius: 8px;
    background: #fff!important;
}
.af-form .acf-notice.-dismiss {
    padding-right: 15px!important;
    margin: 0 15px;
}
.af-form .acf-notice .acf-notice-dismiss {
    opacity: 0!important;
    visibility: hidden;
}
.acf-field input[type="text"] .acf-field input[type="email"],
.acf-field input[type="number"],  .acf-field input[type="tel"],
.acf-field input[type="time"], .acf-field input[type="url"],
.acf-field input[type="week"], .acf-field textarea{
    padding: 10px 15px!important;
}
.acf-file-uploader .acf-basic-uploader input {
    width: 177px;
    font-size: 13px;
    z-index: 4;
}
.af-field.af-field-type-file.af-field-upload{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.af-success {
    border: 1px solid var(--color1);
    border-radius:5px;
    margin:20px auto;
	padding: 5px;
}
.af-success p{
    color: var(--color1)!important;
}
.af-field .input-cform {
    line-height: 1;
    padding: 8px 0!important;
    clear: none!important;
    width: 100%;
}
.acf-fields>.acf-field {
    padding: 5px 5px!important;
    border-top: #E4E4E4 solid 1px;
}
a.acf-button.button {
    min-width: 100px;
}

.woocommerce-columns--addresses.addresses {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
.woocommerce-columns--addresses.addresses > .woocommerce-column--billing-address ,
.woocommerce-columns--addresses.addresses > .woocommerce-column--shipping-address {
    flex: 0 0 40%;
    max-width: 40%;
}

td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-status {
    white-space: nowrap;
}

.woocommerce-return-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.woocommerce-return-message .button {
    margin-bottom: 0 !important;
}
@media screen and (max-width: 576px){
    .woocommerce-return-message {
        flex-direction: column-reverse;
    }
    .woocommerce-return-message .button {
        margin-top: 10px ;
        max-width: 200px;
    }
    .route-bar .step-box .title{
        font-size: 12px;
    }
    .product-card-wrap {
        margin-bottom: 5px;
    }
    ul.acf-radio-list label, ul.acf-checkbox-list label {
        padding-right: 15px!important;
        font-size: 13px;
    }
    .editor-content label, .comment-form label {
        font-size: 13px;
        line-height: 1.7;
    }
    .woocommerce-MyAccount-navigation {
        padding: 10px;
    }
    .product-body {
        padding: 30px 0 25px;
        justify-content: space-between;
        flex: 0 0 60%;
    }
    .product-item {
        border: 3px solid #fff;
        display: flex;
        justify-content: space-between;
    }
    .dark .product-item {
        border: 3px solid #2C2C2C;

    }
    .product-image {
        display: flex;
        align-items: center;
        flex: 0 0 40%;
    }
    .product-item h2 {
        margin-top: 5px;
        min-height: 42px;
        margin-bottom: 0;
    }
    .product-item .price {
        max-width: 170px;
    }
    .woocommerce-columns--addresses.addresses > .woocommerce-column--billing-address, .woocommerce-columns--addresses.addresses > .woocommerce-column--shipping-address {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product-item:not(.purchasable) .price {
        padding: 5px 15px 4px;
        margin-top: 18px;
    }
    .product-body .stock.out-of-stock {
        padding: 5px 15px 4px;
        margin-top: 18px;
    }

}
@media screen and (max-width: 450px){
    a.woocommerce-button.button.cancel {
        margin-right: auto !important;
    }
    a.woocommerce-button.button.pay {
        margin-right: auto!important;
    }
    td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a {
        margin: 5px 30px !important;
    }
}

@media screen and (max-width: 400px){
    .product-item .price>.woocommerce-Price-amount> bdi, .product-item .price ins {
        padding: 9px 10px 8px 10px;
        min-width: 140px;
        font-size: 16px;
    }
    .product-image {
        flex: 0 0 37%;
    }
    .product-body {
        flex: 0 0 55%;
        max-width: 55%;
    }
    .product-body .stock.out-of-stock {
        min-width: 140px;
    }
    .product-item:not(.purchasable) .price {
        min-width: 140px;
    }
    td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a {
        margin: 5px 13px !important;
    }

}

@media screen and (min-width: 1200px) {
    .archive .product-item .price > .woocommerce-Price-amount > bdi,.archive .product-item .price ins {
        min-width: unset;
        padding: 12px 5px 11px 5px;
    }
    .archive .product-body {
        margin: 0 5px;
    }
    .archive .product-item .price {
        width: 100%;
    }
    .archive .product-body .stock.out-of-stock {
        width: 100%;
        min-width: unset;
    }
    .archive .product-item:not(.purchasable) .price {
        width: 100%;
        min-width: unset;
    }
}